<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete folder</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Delete folder</h1>
    <form action="/folder/<%= folderId %>/delete" method="POST">
      <label
        >Are you sure you want to delete the folder? (This action will also
        delete all files in this folder)</label
      >
      <button type="submit">Delete</button>
      <a href="/">Back</a>
    </form>
  </body>
</html>
