<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit folder</title>
    <link rel="stylesheet" href="/styles.css" />

  </head>
  <body>
    <h1>Edit a folder</h1>
    <form action="/folder/<%= folderId %>/edit" method="POST">
      <label for="name">New name:</label>
      <input type="text" id="name" name="name"></input>
      <%- include("partials/errors.ejs") %>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
